* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  width: 0 auto;
  height: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat;
}

.wrapper {
  background-color: #fff;
  display: flex;
  width: 0 auto;
  height: 0 auto;
  max-width: 1500px;
  margin: auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 0 auto;
  height: 0 auto;
  height: 1600px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.abiut-me-container {
  width: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.contacts-link {
  color: #434c5a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-link-type {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}

.tech-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}

.tech-skills-text {
  color: #d1d3d6;
}

.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.soft-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.soft-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}

.soft-skills-text {
  color: #d1d3d6;
}

.graphic-designer-text {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.front-end-developer-text {
  color: #9e9a9a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 13px;
}

.name {
  color: #b60a0a;
  font-size: 10px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 13px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  color: #1c1b4d;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.progects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  color: #595959;
  font-weight: 100;
}

.progects-item {
  font-weight: 700;
  margin-left: 17px;
}

.progects-container {
  margin-bottom: 52px;
}

.profession-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profassion-company {
  color: #ff6b08;
}

.profassion-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.profassion-divider {
  color: #000000;
}

.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
  margin-left: 17px;
}

.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.profassion-study {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 10px;
}

.education-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.education-name {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
